@model Tuan3_Bai1.Models.Book
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

`
<br />
<p style="font-size:24px">ban da mua cuon sach <strong> @Model.TITLE </strong>voi gia <strong>@Model.PRICE</strong>VND</p>